.loader {
    margin: auto;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.3125rem solid var(--color-text-secondary);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
